@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

.color-primary {
  color: #fcab31; }

.color-secondary {
  color: #0f2535; }

.color-secondary-pseudo {
  color: #1b4463; }

.color-alternative {
  color: #0b9442; }

.color-bright {
  color: #FFF; }

.color-dark {
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Anybody", Helvetica, sans-serif;
  color: #000; }

p {
  font-family: Verdana, serif;
  color: #000; }

a {
  font-family: "Anybody", Helvetica, sans-serif; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

p {
  font-size: 1rem; }

.main-wrapper, .heroSection {
  display: flex;
  flex-direction: column; }

.main-wrapper {
  row-gap: 1rem; }

.index_main {
  grid-area: main;
  display: grid;
  grid-template-areas: "hero" "destacados" "newsletter" "tutorias" "negocios" "testimonios";
  justify-content: stretch; }
  .index_main .heroSection {
    grid-area: hero; }
  .index_main .destacados {
    grid-area: destacados; }
  .index_main .newsletter {
    grid-area: newsletter; }
  .index_main .negocios {
    grid-area: negocios; }
  .index_main .testimonios {
    grid-area: testimonios; }

.productos_main {
  display: grid;
  grid-template-areas: 'sidebar' 'gridproductos' 'devoluciones';
  align-items: center; }
  .productos_main .sidebar {
    grid-area: sidebar; }
  .productos_main .grid-productos {
    grid-area: gridproductos;
    min-width: 70vw; }
  .productos_main .devoluciones {
    grid-area: devoluciones; }

.contacto_main {
  display: grid;
  grid-template-areas: "info" "horarios" "formulario" "googleMap";
  grid-row-gap: 2rem;
  grid-column-gap: 2rem; }

.infoContacto {
  grid-area: info; }

.horariosContacto {
  grid-area: horarios; }

.formulario {
  grid-area: formulario; }

.googleMap {
  grid-area: googleMap; }

header {
  font-family: "Anybody", Helvetica, sans-serif; }
  header ul {
    display: flex;
    align-items: center; }
  header #logo {
    width: 60px; }
  header li > a:hover {
    color: #fcab31 !important;
    border-bottom: solid 1px #fcab31; }

footer {
  font-family: "Anybody", Helvetica, sans-serif !important; }
  footer li {
    margin: 10px 0px; }
  footer a {
    color: #FFF;
    text-decoration: none; }
    footer a:hover {
      color: #fcab31 !important; }
  footer h6 {
    color: #FFF !important;
    margin-top: 10px; }

.card {
  background-color: #fcab31;
  min-width: 250px; }
  .card .card-img-top {
    width: 200px;
    height: 200px; }
  .card .card-text {
    width: 200px;
    text-align: center;
    font-size: medium !important; }
  .card p {
    font-size: larger; }

.accordion {
  max-width: 800px; }
  .accordion .accordion-button:not(.collapsed) {
    background-color: #fcab31;
    color: #000; }

.bi-facebook, .bi-instagram {
  font-size: 2em; }
  .bi-facebook:hover, .bi-instagram:hover {
    color: #fcab31; }

.bi-person-fill, .bi-cart {
  font-size: 1.3rem !important; }

.btn-primary {
  background-color: #0f2535;
  border: 1px solid #0f2535; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #1b4463;
  border: 1px solid #1b4463; }

.btn-primary:focus {
  box-shadow: none !important; }

.btn-primary:active {
  box-shadow: none !important; }

.heroSection {
  margin-top: -1rem;
  min-height: 90vh;
  justify-content: flex-end;
  background: linear-gradient(180deg, #0009, #0002, #0009), url("./../public/colmenas.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .heroSection .hero--txtBackground {
    padding: 1rem;
    background: black;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.03) 100%); }
    .heroSection .hero--txtBackground .heroSection--txt {
      padding: 10px; }
      .heroSection .hero--txtBackground .heroSection--txt h1, .heroSection .hero--txtBackground .heroSection--txt p {
        font-weight: bolder;
        color: #FFF;
        text-shadow: 1px 1px #000; }
  .heroSection .benefits {
    font-size: 1.5rem; }

.destacados {
  text-align: center; }

.newsletter {
  max-width: 550px;
  padding: 30px 0; }
  .newsletter input {
    min-width: 200px; }

.tutorias {
  align-self: center; }

.negocios .carousel-caption {
  top: 0; }

.testimonios .item {
  margin: 0 auto;
  text-align: center;
  max-width: 500px; }

.testimonios .item-img {
  margin: 0 auto;
  width: 200px;
  height: 200px; }

.testimonios .item-txt {
  font-style: italic; }

.historia, .premios {
  padding: 10px;
  text-align: center; }
  .historia .imgBackgroundOne, .premios .imgBackgroundOne {
    background: url("./../public/apicultor_familia2.webp");
    z-index: -1; }
  .historia .imgBackgroundTwo, .premios .imgBackgroundTwo {
    background-image: url("./../public/apicultor_familia.webp");
    z-index: -1; }
  .historia .parallax, .premios .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    max-width: 1000px;
    margin: 0 auto;
    position: relative; }
  .historia .textoSobreImagen, .premios .textoSobreImagen {
    color: #FFF;
    position: absolute;
    text-shadow: 2px 2px #000;
    width: 100%;
    text-align: center;
    top: 30%; }
  .historia .textoConocenos, .premios .textoConocenos {
    font-style: italic;
    padding: 10px; }

/* PRODUCTOS */
.productos_main .sidebar {
  text-transform: uppercase; }
  .productos_main .sidebar .navbar {
    background-color: #FFF !important; }
  .productos_main .sidebar a {
    color: #000;
    text-decoration: none; }
    .productos_main .sidebar a:hover {
      border-bottom: solid 2px #fcab31; }

/* SERVICIOS */
.serviciosDescripcion {
  text-align: center; }

/* CONTACTO */
.contacto_main {
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-width: 100vw;
  text-align: center; }
  .contacto_main .horariosContacto ul {
    text-align: justify; }
  .contacto_main .formulario h2 {
    color: #FFF; }

@media screen and (min-width: 768px) {
  .header-index .bg-dark {
    background: #0000 !important; }
  .header-index .nav-link {
    color: #FFF !important; }
  .header-index .active {
    color: #fcab31 !important; }
  .index_main {
    display: grid;
    grid-template-areas: "hero hero" "destacados destacados" "newsletter newsletter" "tutorias negocios" "testimonios testimonios"; }
  .heroSection {
    margin-top: -6.7rem;
    min-height: 100vh; }
    .heroSection p {
      max-width: 40vw; }
  .newsletter input {
    min-width: 300px; }
  .negocios {
    max-width: 400px;
    justify-self: center;
    align-self: center; }
  .serviciosDescripcion {
    max-width: 70vw;
    margin: auto; }
  .contacto_main {
    grid-template-areas: "info info" "horarios formulario" "googleMap googleMap"; } }

@media screen and (min-width: 1024px) {
  .productos_main {
    grid-template-areas: 'sidebar gridproductos' 'devoluciones devoluciones'; }
  .contacto_main {
    grid-template-areas: "info horarios formulario" "googleMap googleMap googleMap"; }
  .googleMap {
    max-width: 80vw; } }

/* ANIMACIONES */
/* shake */
.shake {
  animation: shake 1s ease 1; }

@keyframes shake {
  0%,
  100% {
    transform: translateX(0); }
  15%,
  45%,
  75% {
    transform: translateX(-3px); }
  30%,
  60%,
  90% {
    transform: translateX(3px); } }

/* fade in top*/
.fadeInTop {
  animation: fadeInTop 1s ease 1; }

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

/* fade in bottom*/
.fadeInBottom {
  animation: fadeInBottom 1s ease 1; }

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
